.double-win-page {
    .banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {   
            .welcome {
                font-size: 12px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba($color: #fff, $alpha: 0.6);
                position: relative;
                margin-left: 32px;
                &::before {
                    content: "";
                    display: block;
                    width: 24px;
                    height: 1px;
                    background: #00FF1A;
                    position: absolute;
                    top: 9px;
                    left: -32px;                    
                }
            }
            .text {
                margin-top: 16px;
                font-size: 44px;
                font-family: PingFangSC-Semibold, PingFang SC;
                font-weight: 600;     
                white-space: nowrap;      
                .highlight {
                    color: #00FF1A;
                }
            }
            .txt {
                font-size: 24px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: rgba($color: #fff, $alpha: 0.6);  
                margin-top: 16px;              
            }
            .btn {
                margin-top: 24px;
                .icon {
                    width: 16px;
                    margin-left: 8px;
                }
            }
        }
        .img {
            width: 666px;
            height: 666px;
            margin-right: -62px;
        }
    }
    .content {
        margin-top: -90px;
        .title-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .text {
                .title {
                    font-size: 28px;
                    font-family: PingFangSC-Semibold, PingFang SC;
                    font-weight: 600;
                    color: #FFFFFF;
                }   
                .desc {
                    font-size: 16px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color: rgba($color: #fff, $alpha: 0.6);
                    margin-top: 8px;
                }  
            }
            .btn {
                font-size: 14px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #FCFCFD;   
                background: rgba(0,255,26,0.2);       
                font-weight: 500 !important;      
                .icon {
                    width: 16px;
                    height: 16px;
                    margin-right: 8px;
                }
            }
        }
        .nav-bar {
            display: flex;
            align-items: center;
            margin-top: 16px;
            .item {             
                font-size: 14px;
                font-family: PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: #FCFCFD;
                opacity: 0.6;
                margin-right: 48px;
            }
            .active {
                width: 88px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background: #00FF1A;
                border-radius: 90px;
                color: #000000;   
                opacity: 1;             
            }
        }  
        .info-wrap {
            background: rgba($color: #FDFF00, $alpha: 0.2);
            border-radius: 2px;    
            padding: 8px 24px;       
            margin-top: 16px; 
            display: flex;
            justify-content: space-between;
            .info {
                font-size: 14px;
                font-family: AlibabaPuHuiTiR;
                color: rgba($color: #fff, $alpha: 0.6);  
                display: flex;
                align-items: center;
                .icon {
                    margin: 0 2px;
                    width: 14px;
                    height: 14px;
                    background-color: #F7931A;
                    border-radius: 50%;
                }              
            }
            .price {
                font-size: 14px;
                font-family: AlibabaPuHuiTiR;
                color: #FFFFFF;   
                display: flex;
                align-items: center;
                .key {

                }
                .num {
                    color: #00FF1A;
                }
            }
        }
        .table {
            margin-top: 16px;
            table {
                width: 100%;
                background: rgba(0,255,26,0.05);
                border-radius: 8px;
                border: 1px solid;
                border-image: linear-gradient(180deg, rgba(0, 255, 26, 0), rgba(0, 255, 26, 0.4)) 1 1;
                backdrop-filter: blur(10px);                
                thead {     
                    background: linear-gradient(180deg, #00FF1A 0%, rgba(0,255,26,0.05) 100%);
                    border-radius: 8px 8px 0px 0px;                                   
                    tr {
                        th {
                            font-size: 14px;
                            font-family: AlibabaPuHuiTiR;
                            color: rgba($color: #fff, $alpha: 0.6);      
                            &:nth-child(-n+3) {
                                text-align: left;   
                            }               
                        }
                        
                    }
                }
                tbody {
                    text-align: left;
                    tr {
                        .annualization {
                            font-size: 16px;
                            font-family: Alibaba-PuHuiTi-M, Alibaba-PuHuiTi;
                            font-weight: normal;
                            color: #00FF1A;                            
                        }
                        .time {
                            display: flex;
                            align-items: center;
                            .item {
                                font-size: 14px;
                                font-family: PingFangSC-Medium, PingFang SC;
                                font-weight: 500;
                                color: #FCFCFD;
                                line-height: 40px;
                                text-align: center;
                                width: 40px;
                                height: 40px;
                                background: rgba(0,255,26,0.2);
                                border-radius: 8px;
                                border: 1px solid rgba(0,255,26,0.4);    
                                margin-right: 16px;     
                                &:last-child {
                                    color: #000000;
                                    background: #00FF1A;
                                }                       
                            }
                        }
                        .btn {
                            width: 80px;
                            font-size: 14px;
                            font-family: PingFangSC-Medium, PingFang SC;
                            font-weight: 500;
                            color: #FCFCFD;
                            text-align: center;
                            height: 40px;
                            background: rgba(0,255,26,0.2);
                            border-radius: 8px;
                            border: 1px solid #00FF1A;                                                        
                        }
                    }
                    
                }
            }
        }
        .btn-wrap {
            display: flex;
            justify-content: center;
            .more-btn {
                margin-top: 60px;
                margin-bottom: 120px;
                padding: 0 32px;
            }
        }
    } 
}
.regular-dialog {
    width: 820px;
    .regular-dialog-wrap {
        height: 130vh;
        background: linear-gradient(135deg, rgba(0,255,26,0.2) 0%, rgba(0,0,0,0) 100%);
        border-radius: 8px;
        border: 1px solid;
        border-image: linear-gradient(180deg, rgba(0, 255, 26, 0), rgba(0, 255, 26, 0.4)) 1 1;
        backdrop-filter: blur(10px);
        display: flex;
        .left {
            width: 430px;
            .title {
                display: flex;
                align-items: center;
                padding: 28px 0 28px 24px;
                border-bottom: 1px solid rgba(0,255,26,0.2);
                .icon {
                    width: 40px;
                    height: 40px;
                }
                .name-wrap {
                    font-size: 20px;
                    font-family: PingFangSC-Semibold, PingFang SC;
                    font-weight: 600;
                    color: #FFFFFF;    
                    margin-left: 8px;                
                    .desc {
                        font-size: 14px;
                        font-family: AlibabaPuHuiTiR;
                        color: rgba($color: #fff, $alpha: 0.6);
                    }
                }
            }
            .form {
                padding: 0 24px 24px;
                .form-item {
                    margin-top: 24px;
                    &:nth-child(3) {
                        .val {
                            input {
                                color: #00FF1A;
                            }
                        }
                    }
                    &:nth-child(4) {
                        .val {
                            input {
                                color: #00FF1A;
                            }
                        }
                    }
                    .label {
                        font-size: 14px;
                        font-family: AlibabaPuHuiTiR;
                        color: rgba($color: #fff, $alpha: 0.6); 
                        display: flex; 
                        justify-content: space-between;      
                        .balance {
                            font-size: 14px;
                            font-family: AlibabaPuHuiTiR;
                            color: #FFFFFF;  
                            display: flex;                       
                            .highlight {
                                color:  #00FF1A;    
                                margin: 0 4px;  
                            }
                        }  
                        .recharge {
                            font-size: 14px;
                            font-family: PingFangSC-Medium, PingFang SC;
                            font-weight: 500;
                            color: #00FF1A;    
                            display: flex;
                            align-self: center;    
                            .icon {
                                width: 16px;
                                height: 16px;
                                background-color: #00FF1A;
                                margin-right: 8px;
                            }                    
                        }           
                    }
                    .val {
                        margin-top: 8px;
                        input {
                            padding: 0 16px;
                            outline-style: none;
                            width: 100%;
                            height: 48px;
                            background: rgba(0,255,26,0.2);
                            border-radius: 8px;
                            border: 1px solid rgba(0,255,26,0.2);
                            font-size: 16px;
                            font-family: AlibabaPuHuiTiR;
                            color: #FFFFFF;                                           
                        }
                        .high {
                            color: #FFFFFF;
                        }
                    }
                    .desc {
                        margin-top: 8px;
                        display: flex;
                        font-size: 14px;
                        font-family: AlibabaPuHuiTiR;
                        color: rgba($color: #fff, $alpha: 0.6);                        
                        .txt {
                            font-size: 14px;
                            font-family: AlibabaPuHuiTiR;
                            color: #FFFFFF;
                        }
                    }
                    .value {
                        background: rgba(0,0,0,0.4);
                        border-radius: 8px;
                        border: 1px solid rgba(0,255,26,0.2);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        input {
                            outline-style: none;
                            flex: 2;
                            height: 48px;
                            background: transparent;
                            border-radius: 8px;
                            border: 0;                            
                            font-size: 16px;
                            font-family: AlibabaPuHuiTiR;
                            color: #FFFFFF;                                           
                        }
                        .txt-wrap {
                            flex: 1;
                            display: flex;
                            justify-content: space-between;
                            font-size: 16px;
                            font-family: AlibabaPuHuiTiR;
                            color: #FFFFFF;                            
                            .all {
                                font-size: 16px;
                                font-family: AlibabaPuHuiTiR;
                                color: #00FF1A;  
                                position: relative; 
                                margin-right: 16px;
                                &::before {
                                    content: "";
                                    display: block;
                                    width: 1px;
                                    height: 22px;
                                    border: 1px solid rgba($color: #fff, $alpha: 0.2);    
                                    position: absolute;
                                    top: 3px;
                                    left: -20px;                                
                                }                             
                            }
                        }
                    }
                    .time {
                        display: flex;
                        align-items: center;
                        .item {
                            font-size: 14px;
                            font-family: PingFangSC-Medium, PingFang SC;
                            font-weight: 500;
                            color: #FCFCFD;
                            line-height: 40px;
                            text-align: center;
                            width: 40px;
                            height: 40px;
                            background: rgba(0,255,26,0.2);
                            border-radius: 8px;
                            border: 1px solid rgba(0,255,26,0.4);    
                            margin-right: 16px;     
                            &:last-child {
                                color: #000000;
                                background: #00FF1A;
                            }                       
                        }
                    }
                }
                .buttons {
                    margin-top: 24px;
                    display: flex;
                    justify-content: end;
                    .cancel {
                        padding: 0 46px;
                    }
                    .sure {
                        padding: 0 46px;
                        margin-left: 24px;
                    }
                }
            }
            .rule-wrap {
                padding-left: 24px;
                padding-top: 24px;
                border-top: 1px solid rgba(0,255,26,0.2);
                .price {
                    display: flex;
                    font-size: 14px;
                    font-family: AlibabaPuHuiTiR;
                    color: #FFFFFF;                    
                    .num {
                        color: #00FF1A;
                    }
                }
                .txt {
                    font-size: 16px;
                    font-family: PingFangSC-Semibold, PingFang SC;
                    font-weight: 600;
                    color: #00FF1A;
                    margin: 8px 0;
                }
                .rule {
                    p {
                        font-size: 14px;
                        font-family: AlibabaPuHuiTiR;
                        color: #FFFFFF;   
                        line-height: 20px;                     
                    }
                }
                .notes {
                    font-size: 14px;
                    font-family: AlibabaPuHuiTiR;
                    color: rgba($color: #fff, $alpha: 0.6);          
                    margin-top: 8px;          
                }
            }
        } 
        .right {
            flex: 1;
            background: rgba($color: #00FF1A, $alpha: 0.2);
            border-radius: 0px 8px 8px 0px;
            .close {
                text-align: right;
                margin: 24px 24px 0 0;
                .icon {
                    width: 28px;
                }
            }
            .survey {
                padding: 24px 24px 16px 24px;
                border-bottom: 1px solid rgba(0,255,26,0.2);
                .title {
                    font-size: 16px;
                    font-family: PingFangSC-Semibold, PingFang SC;
                    font-weight: 600;
                    color: #00FF1A;
                    margin-bottom: 8px;
                }
                .item {
                    margin-top: 8px;
                    display: flex;
                    justify-content: space-between;
                    .key {
                        font-size: 14px;
                        font-family: AlibabaPuHuiTiR;
                        color: rgba($color: #fff, $alpha: 0.6);
                    }
                    .value {
                        font-size: 14px;
                        font-family: AlibabaPuHuiTiR;
                        color: #FFFFFF;
                    }
                }
            }
            .common-problem {
                padding: 16px 24px 24px;
                .title {
                    font-size: 16px;
                    font-family: PingFangSC-Semibold, PingFang SC;
                    font-weight: 600;
                    color: #00FF1A;
                }
                .item {
                    margin-top: 16px;
                    border-bottom: 1px solid rgba(0,255,26,0.2);
                    padding-bottom: 16px;
                    &:last-child {
                        border: 0;
                    }
                    .problem {
                        font-size: 14px;
                        font-family: AlibabaPuHuiTiR;
                        color: #FFFFFF;   
                        display: flex;
                        justify-content: space-between;          
                        .icon {
                            width: 16px;
                        }
                    }
                    .answer {
                        margin-top: 8px;
                        font-size: 14px;
                        font-family: AlibabaPuHuiTiR;
                        color: rgba($color: #fff, $alpha: 0.6);
                    }
                }
            }
        }   
    }
}